.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    background-color: transparent;
    height: 40px;
    width: 20vw;
    padding: 10px;
    margin-right: 10px;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown-active {
    background-color: #FFFFFF20;
}

.dropdown-placeholder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.options {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    width: calc(100% + 2px);
    transform: translate(-1px,-2px);
    overflow-y: scroll;
    background-color: rgba(73, 85, 82, 0.8);
    border: 1px solid white;
    z-index: 10;
}

.options > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
}

.option:hover {
    background-color:rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.hide {
    display: none;
}

.chevron {
    width: 15px;
}