*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  margin: 3vw 3vw;
  height: calc(100vh - 6vw);
}

body {
  height: 100%;
  margin: 0;
}

.logo {
  font-size: 3vw;
  line-height: 1;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);
}
